* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  color: rgb(52, 53, 52);
  font-family: 'Lato', sans-serif;
}

a {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  color: #fafafa;
}

.page-header {
  background-color: #2196f3;
  color: #fafafa;

  padding: 25px 0;
  box-shadow: 1px 0.5px 4px rgb(107, 107, 107);
}

.site-title-text {
  width: 100%;
  text-align: center;
  text-shadow: 1px 0.5px 4px rgb(107, 107, 107);
}

.header-nav {
  margin-right: 5%;
  display: flex;
  align-items: center;
  float: right;
  clear: both;
}

.header-nav-links {
  display: flex;
  list-style: none;
  align-content: center;
}

.header-nav-link {
  margin: 0 5px;
}

.header-a-link {
  color: #fafafa;
}

.grid-wrapper-main {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: auto;
  grid-template-areas:
    'aside intro '
    'aside main '
    'footer footer ';
}

aside {
  grid-area: aside;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2196f3;
  color: #fafafa;
  box-shadow: 0.5px 1px rgb(107, 107, 107);
}

.section-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-link {
  margin: 10px 0;
}

.intro {
  grid-area: intro;
  margin: 20px;
  background-color: #fafafa;
}

main {
  grid-area: main;
  margin: 20px;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2196f3;
  color: #fafafa;
  box-shadow: 0.25px 0.5px 2px rgb(107, 107, 107);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer-link {
  margin: 10px;
}
