* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  color: rgb(52, 53, 52);
  font-family: 'Lato', sans-serif;
  font-size: 1.3rem;
}

a {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  color: #fafafa;
}

p {
  margin: 10px 0;
}

img {
  margin: 10px;
}

ol {
  margin: 20px 20px;
}

li {
  margin: 10px;
}

.page-header {
  background-color: #2196f3;
  color: #fafafa;

  padding: 25px 0;
  box-shadow: 1px 0.5px 4px rgb(107, 107, 107);
}

.site-title-text {
  width: 100%;
  text-align: center;
  text-shadow: 1px 0.5px 4px rgb(107, 107, 107);
}

.header-nav {
  margin-right: 5%;
  display: flex;
  align-items: center;
  float: right;
  clear: both;
}

.header-nav-links {
  display: flex;
  list-style: none;
  align-content: center;
}

.header-nav-link {
  margin: 0 5px;
}

.header-a-link {
  color: #fafafa;
}

.grid-wrapper-main {
  display: grid;

  grid-template-columns: 15% 85%;
  grid-template-rows: auto;
  grid-template-areas:
    'intro intro '
    'main main '
    'footer footer ';
}

.flex-wrapper {
  display: flex;
  justify-content: center;
}

.intro {
  grid-area: intro;
  margin: 20px;
  background-color: #fafafa;
}

main {
  grid-area: main;
  margin: 20px;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2196f3;
  color: #fafafa;
  box-shadow: 0.25px 0.5px 2px rgb(107, 107, 107);
}

.footer-links {
  display: flex;
  justify-content: center;
  list-style: none;
}

.footer-link {
  margin: 10px;
}

.lesson-text {
  margin: 10px;
}

.img-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 20%;
}

.keyboard-wrapper {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  flex-wrap: wrap;
}

.keyboard-btn {
  width: 50px;
  height: 50px;
  background-color: #2196f3;
  color: black;
  font-weight: bold;
}

.keyboard-btn:focus {
  border: 4px solid orangered;
  padding: 5px;
  margin: 5px;
}

.space {
  width: 300px;
}

.char-text {
  font-size: 2em;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-input {
  width: 40%;
  height: 50px;
  margin: 20px;
  color: rgb(52, 53, 52);
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
}

.timer-text {
  font-weight: bold;
  font-size: 2rem;
  border: solid #2196f3 3px;
  padding: 10px;
}

.start-btn {
  background-color: #fafafa;
  width: 100px;
  height: 50px;
  margin: 50px;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
}

.start-btn:focus {
  border: 4px solid orangered;

  margin: 50px;
}

.stop-btn {
  background-color: #fafafa;
  width: 100px;
  height: 50px;
  margin: 20px;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
}

.stop-btn:focus {
  border: 4px solid orangered;
  padding: 5px;
  margin: 5px;
}
.clear-btn {
  background-color: #e57373;
  width: 100px;
  height: 50px;
  margin: 20px;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
}

.clear-btn:focus {
  border: 4px solid orangered;
  padding: 5px;
  margin: 5px;
}

.body-link {
  color: #2196f3;
  font-weight: bold;
}

.modal-project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-btn {
  background-color: #fafafa;
  width: 100px;
  height: 50px;
  margin: 50px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.modal-wrapper {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;

  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

.modal-text {
  display: block;
}

.modal-btn-wrapper {
  display: flex;
}

.modal-focus-item {
  margin: 10px;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background-color: #fafafa;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.close-modal-btn {
  width: 60px;
}

.open-modal-btn {
  margin: 10px;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  background-color: #fafafa;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
}
