* {
  box-sizing: border-box;
}

body {
  color: #fafafa;
  background-color: #263238;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #673ab7;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 100px;
}

article {
  background-color: #607d8b;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

footer {
  background-color: #673ab7;
  border-radius: 5px;
  text-align: center;
}

.article-text {
  text-align: justify;
  margin: 5px 10px;
}

.min {
  font-size: 1.5em;
  text-align: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.aside-img {
  display: none;
}

.mobile-text {
  text-align: center;
}
